

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  /* Set a style for all buttons */
  .buttonClass {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .buttonClass:hover {
    opacity: 0.8;
  }
  
  /* Center the image and position the close button */
  
  
  img.avatar {
    width: 40%;
    border-radius: 5%;
  
  }
  
  .container {
    padding: 16px;
    background-color:#f1f1f1;
  }
  
  span.psw {
    padding-top: 16px;
  }
  /*class composition - dziedziczenie klasy cssowej z innego pliku css*/
  .logujSieHamie{
      font-weight: 900;
      composes: Hot from '../Main/Hotfood.module.css';
  }
  @keyframes blinkingText{
      0%{     color: red;    }
      40%{    color: orange; }
      60%{    color: pink; }
      100%{   color: green;    }
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }