.gridContainer {
    display: grid;
    grid-template-areas:
      '. title title title title .'
      '. smallDesc smallDesc smallDesc smallDesc .'
      '. pic pic pic pic . '
      '. ingredients ingredients bigDesc bigDesc .'
      '. ingredients ingredients bigDesc bigDesc .'
      '. komentarze komentarze komentarze komentarze .';
    grid-gap: 10px;
    grid-auto-rows: auto;
    grid-auto-columns: auto auto auto;
    padding: 10px;
  }


.title { grid-area: title; }
.smallDesc { grid-area: smallDesc; }
.pic { grid-area: pic;
    width: 600px ;
    height: 400px ;
    object-fit: fill;
    justify-self: center;
}
.ingredients { 
  grid-area: ingredients;
   place-self: center stretch; 
   border: '1px solid black';
   table-layout: 'auto'; 
   align-self: start;
   
}
.bigDesc { grid-area: bigDesc; justify-self: center;  align-self: start;  width: 90%;}
.komentarze { grid-area: komentarze; }

.ingredientList{
  text-align: justify;
  text-justify: inter-word;
  list-style-type: circle;
  padding-left: 0;
}
@media only screen and (max-width:960px) {
  .gridContainer {
    display: grid;
    grid-template-areas:
      '. title title title title .'
      '. smallDesc smallDesc smallDesc smallDesc .'
      '. pic pic pic pic . '
      'ingredients ingredients ingredients ingredients ingredients ingredients'
      '. bigDesc bigDesc bigDesc bigDesc .'
      '. komentarze komentarze komentarze komentarze .';
    grid-gap: 10px;
    grid-auto-rows: auto;
    grid-auto-columns: minmax(10px,auto);
    padding: 10px;
  }
  .title {
    font-size: 3em;
  
  }
  .smallDesc { 
    font-size: 1.5em;
   }
   .ingredients { 
     place-self: center stretch; 
     table-layout: 'auto'; 
  }
  .bigDesc { 
    grid-area: bigDesc; 
    justify-self: center;  
    align-self: start; 
   
  }



}
@media only screen and (max-width:730px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1;
    grid-template-areas:
      'title'
      'smallDesc'
      'pic '
      'ingredients'
      'bigDesc '
      'komentarze';
    grid-gap: 10px;
    grid-auto-rows: auto;
    grid-auto-columns: 90vw;
    padding: 10px;
  }
  .pic { 
    grid-area: pic;
    max-width: 90% ;
    height: auto ;
    object-fit: fill;
    justify-self: center;
  }
  .title {
    font-size: 3em;
  
  }
  .smallDesc { 
    font-size: 1.5em;
   }
   .ingredients { 
     place-self:  stretch; 
    justify-self: center;
    
  }
  .bigDesc { 
    grid-area: bigDesc; 
    justify-self: center;  
    align-self: start; 
   
  }
}